* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 15%;
}

.dark-background {
    background-color: #1f2937;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-left: 24px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
}