* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header,
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 12%;
}

.dark-background {
    background-color: #1f2937;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-left: 24px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links,
.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.main {
    padding: 30px 0 60px 0;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.signup-button {
    color: #f9faf8;
    padding: 10px 30px;
    border: 0;
    border-radius: 8px;
    margin-top: 16px;
}

.call-to-action {
    background-color: #3882f6;
}

.hero-image {
    height: 250px;
    width: auto;
}

.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 32px 0;
}

.info-section {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 110px;
    width: 110px;
}

.info-box {
    height: 110px;
    width: 110px;
    border: 2px solid #3882f6;
    border-radius: 8px;
    flex-shrink: 0;
}

.info-text {
    font-size: 12px;
    text-wrap: wrap;
    font-weight: 100;
    text-align: center;
    padding-top: 3px;
}