/* SETTINGS */

html {
    --black: #333;
    --white: #fff;
    --color: #3b82f6;
    --dark: #1f2937;
    --light: #e5e7eb;
}

/* SETUP */
* {
    box-sizing: border-box;
    margin: 0px;
}

picture {
    display: block;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
    display:block;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

/* DEV STYLES */


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: var(--dark);
    color: var(--white);
    font-family: sans-serif;
}

/* STRUCTURE */

main {
    flex-grow: 1;
}

inner-column {
    display: block;
    padding: 10px;
    width: 98%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

header inner-column {
    padding: 10px;
}

footer inner-column {
    padding: 10px;
}

/* TYPOGRAPHY */

.loud-voice {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 0.9;
}

.calm-voice {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.3;
}

/* COMPONENTS */

.button {
    font-family: sans-serif;
    display: inline-block;
    background-color: var(--color);
    color: var(--white);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
}

.second-button {
    font-family: sans-serif;
    display: inline-block;
    background-color: var(--color);
    color: var(--white);
    font-size: 1.1rem;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
}

/* MODULES */

graphic-diptic {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

graphic-diptic picture {
}

graphic-diptic text-content {
    display: block;
}

graphic-diptic text-content p {
    margin-top: 10px;
}

graphic-diptic text-content .button {
    margin-top: 10px;
}

@media (min-width: 600px) {
    graphic-diptic {
        flex-direction: row-reverse;
    }
    graphic-diptic :is(text-content, picture) {
        flex-basis: 50%;
    }
}

.welcome {
    background-color: var(--dark);
    color: var(--white);
}



.header {
    background-color: var(--dark);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.products {
    font-family: sans-serif;
}

.random-info {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

product-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

product-card {
    display: block;
}

.blue-box {
    height: 100px;
    width: 100px;
    border: 2px solid var(--color);
    border-radius: 5px;
}

.product-text {
    text-wrap: wrap;
    width: 100px;

}

.quote {
    background-color: var(--light);
    
}

quote-section {
    /* display: block;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding-left: 75px;
    padding-right: 75px; */
    display: block;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 10px;
    width: 80%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.quote-text {
    display: flex;
    justify-content: flex-start;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
}

.call-to-action {
    background-color: var(--color);
    color: var(--white);
    font-family: sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    gap: 80px;
    border-radius: 5px;
    padding: 40px;
    margin: 20px;
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: lighter;
    color: var(--light);
}